*{
  font-family:  'Montserrat', sans-serif;
  
}


.btmnav{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0px -1px 28px -12px rgba(0,0,0,0.87);
-webkit-box-shadow: 0px -1px 28px -12px rgba(0,0,0,0.87);
-moz-box-shadow: 0px -1px 28px -12px rgba(0,0,0,0.87);
}

.btmnav a{
  width: 100%;  
}

.des{
  color: gray;
}


.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  z-index: 1000;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: gray solid 1px;
  box-shadow: 0px 4px 16px -12px rgba(0,0,0,0.87);
}

.selected_navlink{
  color: aqua;
}
.App{
  overflow: hidden;
  scrollbar-width: none;
}
.fragment{
 
  margin: 60px 10px 80px 10px;
}

.shadowDepth1 {
  box-shadow: 
     0 1px 3px rgba(0,0,0, 0.12),
     0 1px 2px rgba(0,0,0, 0.24);      
}

.home_title{
  font-weight: 700;
  margin:4px;

}

