.player{
  /* position: sticky; */
}

.video{
    width: 100%;
}

/* responsive player */
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }


  
  .readmore{
      display: inline;
      font-weight: 700;
  }

  .watchlikes{
    width: 100%;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
  }
.likespan{
  display: flex;
  align-items: center;
  
}

  .likespan span{
    padding-left: 4px;
  }

  .creators{
    font-style: italic;

  }
  .creatorspan{
    padding-left: 4px;
    font-weight: 700;
  }


  .episodes span{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .episodecard{
  }

  .epcard{
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 4px;
    margin: 4px 0 4px;
  }
  
  .epimg{
    width: 120px;
    height: 60px;
    display: block;
    border-radius: 4px;
    background-size: cover;
  }

  .epdetail{
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 4px ;
  }